[*.cs]

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = false

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# VSTHRD111: Use ConfigureAwait(bool)
dotnet_diagnostic.VSTHRD111.severity = none
